button {
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-weight: 700;
  font-size: .75rem;

  &.large {
    padding: 22px;
    width: 100%;
  }

  &.med {
    padding: 16px 26px;
    height: 56px;
    line-height: 1.2rem;
      @media screen and (max-width:1276px) {
      padding: 16px 14px;
    }
  }

  &.small {
    padding: 10px 18px;
  }

  &.white {
    background-color: $white;
    border: 1px solid $grey;
    color: $navy;
  }

  &.green {
    background-color: $green;
    border: 1px solid $green;
    color: $navy;
    // haven't got sweep to work yet
    position:relative;
    z-index:5;
    transition:color 0.25 ease;

    // &:hover {
    //   color:white;
    // }
    // &::after {
    //   position:absolute;
    //   content: "";
    //   top:0;
    //   left:0;
    //   width:0;
    //   height:100%;
    //   background:$navy;
    //   transform-origin:left;
    //   transition:width 0.25 ease;
    //   z-index:-1;
    // }
    // &:hover::after {
    //   width:100%;
    // }

    &:before {
      content: "";
      position:absolute;
      z-index:0;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: scale-color($navy, $lightness: 10%);
      color: white;
      transform:scaleX(0);
      transform-origin:0 50%;
      transition: transform 0.5s ease-out;
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }

  &.navy {
    background-color: $navy;
    border: 1px solid $navy;
    color: $white;
    @include flex (row, null, null, null);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      background-color: $green;
    }
  }
}

a {
  font-weight: 900;
  color: $navy;
}

svg g{
  stroke: $white;

  //this hover not working...
  &:hover{
    stroke: $green;
  }
}

button:focus{
  outline: 3px solid blue;
}
