button {
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-weight: 700;
  font-size: .75rem;

  &.large {
    padding: 22px;
    width: 100%;
  }

  &.med {
    padding: 16px 26px;
    height: 56px;
    line-height: 1.2rem;
  }

  &.small {
    padding: 10px 18px;
  }

  &.white {
    background-color: $white;
    border: 1px solid $grey;
    color: $navy;
  }

  &.green {
    background: $green;
    border: 3px solid $green;
    color: $navy;
    transition: all .25s ease-in-out;

    &:hover {
      border-radius: 50px;
      background: $white;
      border: 3px solid $green;
      background-position: bottom right;
      letter-spacing: .2rem;
      font-weight: 900;
    }
  }

  &.navy {
    background-color: $navy;
    border: 1px solid $navy;
    color: $white;
    @include flex (row, null, null, null);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      background-color: $green;
    }
  }
}

a {
  font-weight: 900;
  color: $navy;
}

svg g{
  stroke: $white;

  //this hover not working...
  &:hover{
    stroke: $green;
  }
}

button:focus{
  outline: 3px solid blue;
}
