
.react-calendar{
    z-index: 1;
    opacity: 1;
    button{
    // -webkit-transition: none !important;
    // -moz-transition: none !important;
    // -o-transition: none !important;
    transition: none !important;
    border-radius: 0;
    }
}
.perTimeContainer{
    z-index: 0;
}