.error {
  text-align: center;
  font-weight: 700;
}

// USER SELECTION
.containerUserSelectionBackground {
  background-image: linear-gradient(to right, $green, $blue);
}

.containerUserSelection{
  @include flex(row, nowrap, space-between, center);
  margin: 0;
  padding-top: 20px;
  @include media(1200px){
    flex-direction: column-reverse;
  }

  .containerUsers {
    width:50%;
    @include flex(row, nowrap, flex-start, flex-start);
    input[type="radio"] {
      opacity:0; 
    }
    @include media(1200px){
      margin-top: 3%;
      width: 100%;
      justify-content: center;
    }
    @include media(576px){
      flex-direction: column;
    }
  }

  .user{
    // border: 1px solid black;
    position: relative;
    border-radius: 8px 8px 0 0;
    height: 96px;
    margin-right: 3px;
    width: 300px;
    &:active,
    &:focus {
      background:white;
    }
    @include media(576px){
      width: 100%;
    }

    .perUserContents {
      @include flex(row, null, null, null);
      padding: 15px 18px 0;  
    }

    input[type="radio"] + div {
      height: 96px;
    }
    
    input[type="radio"]:checked + div {
      // border: 1px solid black;
      background: $white;
      border-radius: 8px 8px 0 0;
    }

    svg {
      font-size: 2rem;
      margin-right: 18px;
    }

    svg,
    label {
      color: $navy;
    }

    label {
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 900;
      letter-spacing: 1px;
    }

    input[type="radio"] {
      cursor: pointer;
      // opacity: 0;
      @include position(0, null, null, 0);
      width: 100%;
      height: 100%;
    }

    p {
      margin-top: 6px;
      font-size: .75rem;
    }
  }
}

.containerUsersButtons {
  justify-content: flex-end;
  @include flex(row, nowrap, null, null);
  width: 50%;
  margin-top: -20px;
  svg {
    color: $green;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  @include media(1200px){
  margin-top: 0;
  width: 100%;
  justify-content: space-evenly;
  }
  @include media(576px){
  flex-direction: column;
  }
  .containerButton{
  @include media(576px){
      margin: 1% 0;
    }
  }
}

// FILTER EVENTS
.containerFilterEvents {
  @include flex(row, nowrap, space-between, null);
  padding: 20px 0;
  margin: 28px 0 12px;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  
  input,
  button {
    margin: 2px;
  }
  select,
  input {
    margin: 4px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 10px 12px;
  }
  select{
    appearance:none;
    background: url(./../assets/sort-down-solid.svg) no-repeat 96% -8px $white;
  }
  &::-ms-expand {
    display:none;
  }

  @include media(1080px) {
    flex-direction: column;
  }
}
.filterFields {
  max-width:60%;
  display:flex;
  flex-direction:row;
  select {
    padding-right:50px;
    width:40%;
  }
}

.fixed-nav{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 1;
}

 // media queries
@include media(1270px) {
  .filterFields {
    max-width:70%;
    @include media(1080px) {
      flex-direction: column;
      max-width: 100%;
    }
  }
}

.filterFields {
  input,
  select {
    @include media(1080px) {
    width: 100%;
    }   
  }
}

.filterButtons {
  @include media(1080px) {
    text-align: center;
  }
}


