.userSelection{
  @include flex(row, nowrap, space-between, null);
  background-image: linear-gradient(to-right, $green, $blue);
  margin: 2% 0;
}
.user{
  border: 1px solid black;
  padding: 1%;
}
.user input{
  width: 100%;
  cursor: pointer;
}

.containerFilterEvents {
  @include flex(row, nowrap, center, space-between)
}