html{
    font-size: 125%;
    scroll-behavior: smooth;
}
body{
    font-size: 1rem;
    background-color: $green;
}
.wrapper{
    margin: 0 10%;
    max-width: 1600px;
}
img{
    max-width: 100%;
    display: inline-block;
    width: 250px;
}
