html{
    font-size: 125%;
    scroll-behavior: smooth;
}

body{
    font-size: 1rem;
    background-color: $green;
}

body, input, select, svg{
		color: $black;
        fill: $black;
}

img{
    max-width: 100%;
    display: block;
    width: 100%;
}

.wrapper{
    margin: 0 10%;
    max-width: 1400px;
}

.App {
    text-align: left;
  }