html{
  font-size: 125%;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-size: .85rem;
  font-family: $body-font;
  background-color: $white;
}

body, input, select, svg{
  color: $black;
  fill: $black;
}

img{
  max-width: 100%;
  display: block;
  width: 100%;
}

.wrapper{
  margin: 0 10%;
  max-width: 1400px;
    @include for768{
      margin: 0 5%;
    }
}

.App {
  text-align: left;
  position: relative;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}