header{
  background: url(../assets/bg-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 94vh;
  @include flex(column, nowrap, center, center);
}

@include media(768px) {
  header{
    height: auto;
  }
}
