.heroInnerContainer{
	width: 100%;
	background-color: rgba($white, 0.1);
	border-radius: 10px;

	body, input, select, svg{
		color: $white;
		fill: $white
	}
}
.heroBorderMiddle{
		@include flex(row, nowrap, center, flex-start);
		padding: 3% 3%;
}

.heroIntro,
.heroForm {
	width: 50%;
	color: $white;
}

.heroIntro{
	@include flex(column, nowrap, flex-start, flex-start);
	padding-right: 3%;

	h1{
		font-family: $heading-font;
		font-size: 55px;
		margin:0;
		background: -webkit-linear-gradient(right, #ace8cd, #5da9c2);
		background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent;
		width: 100%;
		padding-left: 5px;
		span{
			font-size: 48px;
			display: block;
		}
	}	
		p{
			padding-left: 5px;
			line-height: 2;
		}
}
.heroForm{
	border-left: 1px solid rgba(255,255,255,.5);
	padding-left: 3%;
	.heroFormBlock {
		padding-bottom: 8px;
		margin: 0 0 35px;
		border-bottom: 2px solid $white;
	
	&:last-of-type {
		border-bottom: none;
		margin-bottom: 0;
	}
		.HeroFormInputContainer{
			padding-left: 5px;
		}
		label{
			display: block;
			color: $white;
			font-weight: 900;
		}

		label.heroFormLabelMain {
			margin-bottom: 15px;
		}

		input,
		.react-date-picker {
		width: 100%;
		border: none;
		background-color: rgba($white, 0);	
		}

		.react-date-picker__wrapper,
		.react-time-picker__wrapper {
			border: none;
			@include flex(row, nowrap, center, center);
		}

		.heroFormBlockTime {
			@include flex(row, nowrap, flex-start, flex-start)
		}
	}

	.times{
		display: flex;
	}
}
