.heroInnerContainer{
	width: 100%;
	background-color: rgba($blue, 0.2);
	border-radius: 10px;

	body, 
	input, 
	select, 
	svg{
		color: $white;
		fill: $white
	}
}
.heroBorderMiddle{
	@include flex(row, nowrap, center, flex-start);
	padding: 4%;
}

.heroIntro,
.heroForm {
	color: $white;
}

.heroIntro{
	@include flex(column, nowrap, flex-start, flex-start);
	padding-right: 5%;
	width: 60%;

	h1{
		font-family: $heading-font;
		font-size: 4.4rem;
		letter-spacing: .2rem;
		line-height: 1.2;
		margin: 0 0 10px;
		background: -webkit-linear-gradient(right, rgba($green, .6), rgba($blue, .6));
		background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
		width: 100%;
		padding-left: 7px;
	}	
	span{
		font-size: 3.8rem;
		display: block;
	}

	p{
		padding-left: 7px;
		line-height: 2.1;
	}
}
.heroForm{
	border-left: 1px solid rgba(255,255,255,.5);
	padding-left: 5%;
	width: 40%;
	padding-right: 7px;

	.heroFormBlock {
		padding-bottom: 12px;
		margin: 0 0 42px;
		border-bottom: 2px solid $white;
	
	&:last-of-type {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
		.HeroFormInputContainer input[type="text"]{
			padding-left: 15px;
		}
		
		label{
			display: block;
			color: $white;
			font-weight: 900;			
		}

		label.heroFormLabelMain {
			margin-bottom: 20px;
		}

		input,
		.react-date-picker {
		width: 100%;
		border: none;
		background-color: rgba($white, 0);
		z-index:10;	
		}

		.react-date-picker__wrapper,
		.react-time-picker__wrapper {
			border: none;
			padding-left: 15px;
			@include flex(row, nowrap, center, center);
		}

		.heroFormBlockTime {
			@include flex(row, nowrap, flex-start, flex-start);

			label {
				text-transform: uppercase;
				font-size: .7rem;
				margin-bottom: 8px;
			}
		}
	}

	.time{
		display: flex;
		text-transform: uppercase;
	}
}


// Media queries
@media (max-width:1185px) {
    .heroIntro {
		h1 {
			font-size:3rem;
		}
		span {
			font-size:2.5rem;
		}	
	}
}