.modalContent {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba($white, .95);
  color: $black;
  padding: 10px 20px 40px;
  border-radius: 8px;
  border: 5px solid $green;
  display: flex;
  flex-direction: column;

  h2 {
    span {
      font-family: $heading-font;
      display: block;
      font-size: 2rem;
    }
  }
  a {
    color: $navy;
    padding: 2px 6px;
    text-decoration: none;
    transition: background-color .25s;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($green, .6);
    }
  }
  .keepFocusModal{
    color: red;
    transition: color .001s;
    &:not(:focus-within){
      color: $white;
    }
  }
  
  .userLink {
    @include flex(row, wrap, flex-start, center);
    p{
      font-weight: 700;
    }
    svg {
      margin-right: 10px;
    }
  }

  button {
    cursor: pointer;
    border: 0;
    text-align: right;
    width: 28px;
    height: 28px;
    background-color: rgba($white, .95);
    svg {
      color:$navy;
      font-size: 2rem;  
      &:hover {
        color: $green;
      }
    }
  }
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba($black, .7);
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
};