.modalContent {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba($white, .95);
  color: $black;
  padding: 10px 20px 40px;
  border-radius: 8px;
  border: 8px solid $green;
  display: flex;
  flex-direction: column;

 @include media(576px) {
  width: 80%;
  min-width: 300px;
 }

  h2 {
    text-align: center;
    span {
      font-family: $heading-font;
      display: block;
      font-size: 2rem;
      @include media(576px) {
        font-size: 1.6rem;
      }
      @include media(460px) {
        font-size: 1.25rem;
      }
    }
  }
  a {
    color: $navy;
    padding: 2px 6px;
    text-decoration: none;
    transition: background-color .25s;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($green, .6);
    }
  }
  .keepFocusModal{
    color: red;
    transition: color .001s;
    font-size: 0;
    &:not(:focus-within){
      color: rgba($white, .95);
    }
  }
  
  .userLink {
    @include flex(row, nowrap, flex-start, center);
    p{
      font-weight: 700;
    }
    svg {
      margin-right: 10px;
    }
    .faUser {
      color: $blue;
    }
  }

  button {
    position: relative;
    top: 0;
    left: 45%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 0;
    background-color: rgba($white, .95);
    text-align: center;
    svg {
      color:$navy;
      font-size: 2rem;  
      &:hover {
        color: $green;
      }
    }
  }
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba($black, .7);
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
};