.containerResultCard{
  @include flex(row, wrap, flex-start, null)
}

.resultCard{
  border: 1px solid $grey;
  border-radius: 5px;
  text-align: center;
  @include flex(column, wrap, flex-start, center);
  width: calc(25% - 2%);
  margin: 1%;
  position: relative;

  h3{
    font-size: .9rem;
  }

  p{
    margin: 0;
    line-height: 1.4rem;
    color: $darkgrey;
    &.location {
      font-style: italic;
    }
  }

  input{
    width: 100%;
    cursor: pointer;
    &[type="radio"]{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      &:checked + div{
        opacity: 0.5;
        opacity: 0.3;
      }
    }
  }

  .resultCard-imgContainer{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 175px;
    display:flex;
    overflow: hidden;
    img{
      object-fit: cover;
    }
  }
  .eventDetails{
    padding: 1% 4%;
    margin-bottom: 16px;
  }
  .priceString {
    font-size: .8rem;
  }
}


.containerResultCard form input:-moz-focusring{
  border:1px solid rgba(0 ,0,0,1)
}
