.heroRightForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .heroRightFormComponent{
        padding: 25px 0;
        text-align: left;
        label{
            display: block;
        }
    }
    .times{
        display: flex;
    }
}