//VARIABLES
$heading-font: "Shrikhand", cursive;
$body-font: "Lato", sans-serif;

$blue: #64c6e1;
$navy: #330095;
$green: #ace8cd;
$white: #fff;
$black: #222;
$grey: #b3b3b3;
$darkgrey: #444;

//MIXINS
@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin position($top, $right, $bottom, $left, $pos: absolute) {
	position: $pos;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

//Thanks to https://thoughtbot.com/blog/sasss-content-directive
@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }  
}


// =================
@mixin for1200 {
  @media (max-width: 1200px) {
    @content;
  }  
}

@mixin for992 {
  @media (max-width: 992px) {
    @content;
  }  
}

@mixin for768 {
  @media (max-width: 768px) {
    @content;
  }  
}

@mixin for576 {
  @media (max-width: 576px) {
    @content;
  }  
}

@mixin for320 {
  @media (max-width: 320px) {
    @content;
  }  
}