article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: .85rem;
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

body, input, select, svg {
  color: #222;
  fill: #222;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 10%;
  max-width: 1400px;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 5%;
  }
}

.App {
  text-align: left;
  position: relative;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

button {
  margin: 0 auto;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 3px solid #ace8cd;
  font-weight: 700;
  font-size: .75rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

button:hover {
  border-radius: 50px;
  font-weight: 900;
}

button.large {
  padding: 22px;
  width: 100%;
}

button.med {
  padding: 16px 26px;
  height: 56px;
  line-height: 1.2rem;
}

@media screen and (max-width: 1276px) {
  button.med {
    padding: 16px 14px;
  }
}

@media screen and (max-width: 1276px) and (max-width: 576px) {
  button.med {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 1276px) and (max-width: 576px) and (max-width: 340px) {
  button.med {
    padding: 16px 1px;
  }
}

button.small {
  padding: 10px 18px;
}

button.white {
  background-color: #fff;
  border-color: #b3b3b3;
  color: #330095;
}

button.green {
  background: #ace8cd;
  color: #330095;
}

button.green:hover {
  background: #fff;
  border-color: #ace8cd;
}

button.navy {
  background-color: #330095;
  border-color: #330095;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

a {
  font-weight: 900;
  color: #330095;
}

svg g {
  stroke: #fff;
}

svg g:hover {
  stroke: #ace8cd;
}

button:focus {
  outline: 3px solid blue;
}

header {
  background: url(../assets/bg-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header {
    height: auto;
  }
}

.heroInnerContainer {
  width: 100%;
  background-color: rgba(100, 198, 225, 0.2);
  border-radius: 10px;
}

.heroInnerContainer body,
.heroInnerContainer input,
.heroInnerContainer select,
.heroInnerContainer svg {
  color: #fff;
  fill: #fff;
}

.heroBorderMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4%;
}

.heroIntro,
.heroForm {
  color: #fff;
}

.heroIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 5%;
  width: 60%;
}

.heroIntro h1 {
  font-family: "Shrikhand", cursive;
  font-size: 4.4rem;
  letter-spacing: .2rem;
  line-height: 1.2;
  margin: 0 0 10px;
  background: -webkit-linear-gradient(right, rgba(172, 232, 205, 0.6), rgba(100, 198, 225, 0.6));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
  width: 100%;
  padding: 0 7px;
}

.heroIntro span {
  font-size: 3.8rem;
}

.heroIntro p {
  padding-left: 7px;
  line-height: 2.1;
}

.heroForm {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 5%;
  width: 40%;
  padding-right: 7px;
}

.heroFormBlock {
  padding-bottom: 12px;
  margin: 0 0 42px;
  border-bottom: 2px solid #fff;
}

.heroFormBlock:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heroFormBlock label {
  display: block;
  color: #fff;
  font-weight: 900;
}

.heroFormBlock label.heroFormLabelMain {
  margin-bottom: 20px;
}

.heroFormBlock input,
.heroFormBlock .react-date-picker {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

.HeroFormInputContainer input[type="text"] {
  padding-left: 15px;
}

.react-date-picker__wrapper,
.react-time-picker__wrapper {
  border: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroFormBlockTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heroFormBlockTime label {
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: 8px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

@media (max-width: 1192px) {
  .heroIntro h1 {
    font-size: 3rem;
  }
  .heroIntro span {
    font-size: 2.8rem;
  }
  .heroIntro,
  .heroForm {
    width: 50%;
  }
}

@media (max-width: 1032px) {
  .heroIntro h1 {
    font-size: 2.5rem;
  }
  .heroIntro span {
    font-size: 2.25rem;
  }
}

@media (max-width: 932px) {
  .heroIntro {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .heroIntro h1,
  .heroIntro span {
    font-size: 2.1rem;
  }
  .heroFormBlockTime {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .perTimeContainer {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .heroBorderMiddle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0;
  }
  .heroIntro,
  .heroForm {
    width: 100%;
  }
  .heroIntro p {
    padding-left: 0;
  }
  .heroFormBlock:nth-child(1) {
    padding-top: 42px;
    border-top: 2px solid #fff;
  }
  .heroForm {
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
  .heroFormBlockTime {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .heroIntro {
    padding-right: 0;
  }
  .heroIntro h1,
  .heroIntro span {
    font-size: 3rem;
  }
}

@media (max-width: 682px) {
  .heroBorderMiddle {
    padding: 4%;
    margin: 20px;
  }
  .heroFormBlockTime {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heroIntro h1,
  .heroIntro span {
    font-size: 2.3rem;
  }
}

@media (max-width: 576px) {
  .heroIntro h1,
  .heroIntro span {
    font-size: 2.3rem;
    text-align: center;
    padding: 0;
  }
  .heroIntro h1 {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .heroIntro h1,
  .heroIntro span {
    font-size: 2.0rem;
  }
  .heroBorderMiddle {
    margin: 10px;
  }
}

@media (max-width: 392px) {
  .heroIntro h1,
  .heroIntro span {
    font-size: 1.3rem;
  }
  .react-date-picker__wrapper,
  .react-time-picker__wrapper {
    padding-left: 0px;
  }
}

.error {
  text-align: center;
  font-weight: 700;
}

.containerUserSelectionBackground {
  background-image: -webkit-gradient(linear, left top, right top, from(#ace8cd), to(#64c6e1));
  background-image: linear-gradient(to right, #ace8cd, #64c6e1);
}

.containerUserSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .containerUserSelection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.containerUserSelection .containerUsers {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.containerUserSelection .containerUsers input[type="radio"] {
  opacity: 0;
}

@media (max-width: 1200px) {
  .containerUserSelection .containerUsers {
    margin-top: 3%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .containerUserSelection .containerUsers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.containerUserSelection .user {
  position: relative;
  border-radius: 8px 8px 0 0;
  height: 96px;
  margin-right: 3px;
  width: 300px;
}

.containerUserSelection .user:active, .containerUserSelection .user:focus {
  background: white;
}

@media (max-width: 576px) {
  .containerUserSelection .user {
    width: 100%;
  }
}

.containerUserSelection .user .perUserContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 18px 0;
}

.containerUserSelection .user input[type="radio"] + div {
  height: 96px;
}

.containerUserSelection .user input[type="radio"]:checked + div {
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.containerUserSelection .user svg {
  font-size: 2rem;
  margin-right: 18px;
}

.containerUserSelection .user svg,
.containerUserSelection .user label {
  color: #330095;
}

.containerUserSelection .user label {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.containerUserSelection .user input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerUserSelection .user p {
  margin-top: 6px;
  font-size: .75rem;
}

.containerUsersButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
  margin-top: -20px;
}

.containerUsersButtons svg {
  color: #ace8cd;
  margin-left: 5px;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .containerUsersButtons {
    margin-top: 0;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 576px) {
  .containerUsersButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .containerUsersButtons .containerButton {
    margin: 1% 0;
  }
}

.containerFilterEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  margin: 28px 0 12px;
  border-top: 1px solid #ace8cd;
  border-bottom: 1px solid #ace8cd;
}

.containerFilterEvents input,
.containerFilterEvents button {
  margin: 2px;
}

.containerFilterEvents select,
.containerFilterEvents input {
  margin: 4px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 10px 12px;
}

.containerFilterEvents select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(./../assets/sort-down-solid.svg) no-repeat 96% -8px #fff;
}

.containerFilterEvents::-ms-expand {
  display: none;
}

.filterFields {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filterFields select {
  padding-right: 50px;
  width: 40%;
}

@media (max-width: 1270px) {
  .filterFields {
    max-width: 70%;
  }
}

.containerResultCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resultCard {
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  text-align: center;
  width: calc(25% - 2%);
  margin: 1%;
  position: relative;
}

@media (max-width: 1200px) {
  .resultCard {
    width: calc(33% - 2%);
  }
}

@media (max-width: 992px) {
  .resultCard {
    width: 50%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .resultCard {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .resultCard {
    width: 100%;
    margin: 1% 0;
  }
}

.resultCard .innerResultCard {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  height: 100%;
}

.resultCard h3 {
  font-size: .9rem;
}

.resultCard p {
  margin: 0;
  line-height: 1.4rem;
  color: #444;
}

.resultCard p.location {
  font-style: italic;
}

.resultCard input {
  width: 100%;
  cursor: pointer;
}

.resultCard input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.resultCard .resultCard-imgContainer {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 4px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.resultCard .resultCard-imgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

.resultCard .eventDetails {
  padding: 1% 4%;
  margin-bottom: 16px;
}

.resultCard .priceString {
  font-size: .8rem;
}

.activeEvent {
  border: 5px solid #ace8cd;
  background: rgba(172, 232, 205, 0.1);
}

.activeEvent:after {
  content: url("./../assets/check-solid.svg");
  font-size: 15px;
  position: absolute;
  border-radius: 25px;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  color: #fff;
  background: #64c6e1;
  padding: 5px;
  margin: 6px;
}

.disabledEvent {
  opacity: 0.3;
}

.disabledEvent input {
  cursor: not-allowed;
}

footer {
  background-color: #ace8cd;
  text-align: center;
  font-size: .75rem;
}

footer p {
  margin: 0;
  padding: .8rem;
  color: #330095;
}

footer a {
  text-decoration: none;
}

.modalContent {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  color: #222;
  padding: 10px 20px 40px;
  border-radius: 8px;
  border: 8px solid #ace8cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .modalContent {
    width: 80%;
    min-width: 300px;
  }
}

.modalContent h2 {
  text-align: center;
}

.modalContent h2 span {
  font-family: "Shrikhand", cursive;
  display: block;
  font-size: 2rem;
}

@media (max-width: 576px) {
  .modalContent h2 span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 460px) {
  .modalContent h2 span {
    font-size: 1.25rem;
  }
}

.modalContent a {
  color: #330095;
  padding: 2px 6px;
  text-decoration: none;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.modalContent a:hover, .modalContent a:focus, .modalContent a:active {
  background-color: rgba(172, 232, 205, 0.6);
}

.modalContent .keepFocusModal {
  color: red;
  -webkit-transition: color .001s;
  transition: color .001s;
  font-size: 0;
}

.modalContent .keepFocusModal:not(:focus-within) {
  color: rgba(255, 255, 255, 0.95);
}

.modalContent .userLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContent .userLink p {
  font-weight: 700;
}

.modalContent .userLink svg {
  margin-right: 10px;
}

.modalContent .userLink .faUser {
  color: #64c6e1;
}

.modalContent button {
  position: relative;
  top: 0;
  left: 45%;
  cursor: pointer;
  border: 0;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.95);
}

.modalContent button svg {
  color: #330095;
  font-size: 2rem;
}

.modalContent button svg:hover {
  color: #ace8cd;
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=App.css.map */