article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: .8rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

body, input, select, svg {
  color: #222;
  fill: #222;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 10%;
  max-width: 1400px;
}

.App {
  text-align: left;
  position: relative;
}

button {
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-weight: 700;
  font-size: .65rem;
}

button.large {
  padding: 20px 15px;
  width: 100%;
}

button.med {
  padding: 10px;
  height: 50px;
}

button.small {
  padding: 5px;
}

button.white {
  background-color: #fff;
  border: 1px solid #b3b3b3;
  color: #330095;
}

button.green {
  background-color: #ace8cd;
  border: 1px solid #ace8cd;
  color: #330095;
}

button.navy {
  background-color: #330095;
  border: 1px solid #330095;
  color: #5da9c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 3px;
}

a {
  font-weight: 900;
  color: #330095;
}

svg g {
  stroke: #fff;
}

svg g:hover {
  stroke: #ace8cd;
}

header {
  background: url(../assets/bg-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroInnerContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.heroInnerContainer body, .heroInnerContainer input, .heroInnerContainer select, .heroInnerContainer svg {
  color: #fff;
  fill: #fff;
}

.heroBorderMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4%;
}

.heroIntro,
.heroForm {
  color: #fff;
}

.heroIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 4%;
  width: 55%;
}

.heroIntro h1 {
  font-family: "Shrikhand", cursive;
  font-size: 4.2rem;
  letter-spacing: .2rem;
  line-height: 1.2;
  margin: 0 0 10px;
  background: -webkit-linear-gradient(right, rgba(172, 232, 205, 0.6), rgba(93, 169, 194, 0.6));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
  width: 100%;
  padding-left: 5px;
}

.heroIntro h1 span {
  font-size: 3.6rem;
  display: block;
}

.heroIntro p {
  padding-left: 5px;
  line-height: 2;
}

.heroForm {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 4%;
  width: 45%;
}

.heroForm .heroFormBlock {
  padding-bottom: 12px;
  margin: 0 0 42px;
  border-bottom: 2px solid #fff;
}

.heroForm .heroFormBlock:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heroForm .heroFormBlock .HeroFormInputContainer input[type="text"] {
  padding-left: 15px;
}

.heroForm .heroFormBlock label {
  display: block;
  color: #fff;
  font-weight: 900;
}

.heroForm .heroFormBlock label.heroFormLabelMain {
  margin-bottom: 15px;
}

.heroForm .heroFormBlock input,
.heroForm .heroFormBlock .react-date-picker {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.heroForm .heroFormBlock .react-date-picker__wrapper,
.heroForm .heroFormBlock .react-time-picker__wrapper {
  border: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroForm .heroFormBlock .heroFormBlockTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heroForm .heroFormBlock .heroFormBlockTime label {
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: 5px;
}

.heroForm .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.error {
  text-align: center;
  font-weight: 700;
}

.containerUserSelectionBackground {
  background-image: -webkit-gradient(linear, left top, right top, from(#ace8cd), to(#5da9c2));
  background-image: linear-gradient(to right, #ace8cd, #5da9c2);
}

.containerUserSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 15px;
}

.containerUserSelection .containerUsers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.containerUserSelection .containerUsers input[type="radio"] {
  opacity: 0;
}

.containerUserSelection .user {
  border-radius: 8px 8px 0 0;
  height: 150px;
  margin-right: 3px;
  width: 200px;
  height: 100%;
  position: relative;
}

.containerUserSelection .user:active, .containerUserSelection .user:focus {
  background: white;
}

.containerUserSelection .user .perUserContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerUserSelection .user input[type="radio"] + div {
  padding: 5px;
  height: 150px;
}

.containerUserSelection .user input[type="radio"]:checked + div {
  background: white;
  border-radius: 8px 8px 0 0;
}

.containerUserSelection .user svg {
  font-size: 2.5rem;
  padding-right: 5px;
}

.containerUserSelection .user svg,
.containerUserSelection .user label {
  color: #330095;
}

.containerUserSelection .user label {
  text-transform: uppercase;
  font-size: .65rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.containerUserSelection .user input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerUserSelection .user p {
  font-size: .7rem;
}

.containerUsersButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 50%;
}

.containerUsersButtons svg {
  color: #ace8cd;
}

.containerFilterEvents form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  margin: 10px 0;
  border-top: 1px solid #ace8cd;
  border-bottom: 1px solid #ace8cd;
}

.containerFilterEvents form input,
.containerFilterEvents form button {
  margin: 2px;
}

.containerResultCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resultCard {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 2%);
  margin: 1%;
  position: relative;
}

.resultCard p {
  margin: 0;
}

.resultCard p.location {
  font-style: italic;
}

.resultCard input {
  width: 100%;
  cursor: pointer;
}

.resultCard input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.resultCard input[type="radio"]:checked + div {
  opacity: 0.5;
  opacity: 0.3;
}

.resultCard .resultCard-imgContainer {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resultCard .resultCard-imgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

.resultCard .eventDetails {
  padding: 1%;
}

footer {
  background-color: #ace8cd;
  text-align: center;
  font-size: .75rem;
}

footer p {
  margin: 0;
  padding: .8rem;
  color: #330095;
}

footer a {
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */